.blog {
	margin: 1em 0 1em 0;
	a {
		text-decoration: none;
	}
	
	.search-bar {
		margin-bottom: 1em;

		p {
			font-size: 1.3em;
			font-weight: bold;
			margin-bottom: 0.5em;
		}
	}

	.all-tags {
		.tag {
			margin: 0.5em 1em 0.5em 0em;
			a:link, a:visited {
				color: white;
			}
			a:hover {
				color: white;
			}
		}

		p {
			font-size: 1.3em;
			font-weight: bold;
			margin-bottom: 0.5em;
		}
	}

	.top-posts {
		margin-top: 1em;
		.top-title {
			font-size: 1.3em;
			font-weight: bold;
			margin-bottom: 0.5em;
		}
		.top-posts-p {
			font-size: 1em;
			margin-top: 0.5em;
			margin-bottom: 0.5em;

			a:link, a:visited {
				color: #002766;
			}
			a:hover {
				color: #0047ba;
			}

			.top-posts-clicks {
				font-size: 0.6em;
				color: #a2a4a5;
			}
		}
	}
}

.blog-all {
	.pagination {
		.el-pager li.active {
			border-color: #324057;
			background-color: #324057;
		}
	}
}

.blog-abs {
	margin: 0 0 1em 0;
	padding-bottom: 1em;
	border-bottom: 1px solid rgba(0,0,0,.0785)!important;

	.blog-title {
		margin: 0.5em 0 0.5em 0;
		font-family: Helvetica;

		a:link, a:visited {
			color: black;
		}
		a:hover {
			color: #48576a;
		}
	}

	.blog-author {
		margin:0;
		font-size: 12px;
	}

	.blog-abstract {
		p {
			font-size: 16px;
		}
		// similar to github
		code {
			padding: 0.2em 0.2em 0.2em 0.2em;
			margin: 0;
			font-size: 85%;
			font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
		}
		p>code {
			background-color: rgba(27,31,35,0.05);
			color: #ff4747;
		}
		pre {
			padding: 1em;
			background-color: rgba(27,31,35,0.05);
		}
	}

	.readmore {	
		a:link, a:visited {
			color: #a2a4a5;
		}
		a:hover {
			color: #8b8d8e;
		}
		font-size: 14px;
	}

	.blog-tags {
		margin-top: 1em;
		a:link, a:visited {
			color: white;
		}
		a:hover {
			color: white;
		}
		.el-tag {
			margin-right: 0.5em;
		}
	}
}

.one-post-outer {

	.one-post {
		.one-post-title {
			margin: 1em 0 0.5em 0;
			font-family: Helvetica;
		}

		.one-post-author, .one-post-time {
			margin:0;
			margin-bottom: 2em;
			font-size: 14px;
		}

		.one-post-content {
			p {
				font-size: 20px;
				margin: 0.5em 0 0.5em 0;
			}
			// similar to github
			code {
				padding: 0.2em 0.2em 0.2em 0.2em;
				margin: 0;
				font-size: 85%;
				font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
			}
			p>code {
				background-color: rgba(27,31,35,0.05);
				color: #ff4747;
			}
			pre {
				padding: 1em;
				background-color: rgba(27,31,35,0.05);
			}
		}

		.post-tag {
			margin: 2em 0 2em 0;

			.el-tag {
				margin: 0 0.5em 0 0em;
				padding: 0 1em 0 1em;
				font-size: 16px;
			}

			a {
				text-decoration: none;
			}
			a:link, a:visited {
				color: white;
			}
			a:hover {
				color: white;
			}
		}

		.post-icons {
			.el-icon-star-on, .el-icon-star-off, .el-icon-share {
    			font-size: 1.5em;
    			color: #42c7f4;
			}
			.el-icon-star-on:hover, .el-icon-star-off:hover, .el-icon-share:hover {
				color: #84e0ff;
				cursor: pointer;
			}
			.icon-number {
				color: #888f91;
				margin-left: 0.2em;
				font-size: 1.2em;
			}
			.fa-heart, .fa-heart-o {
				color: #ff584f;
				font-size: 1.5em;
			}
			.fa-heart:hover, .fa-heart-o:hover {
				color: #f9291d;
				cursor: pointer;
			}
		}

		.modify-post {
			margin-top: 1em;
			.el-icon-modify, .el-icon-delete {
    			font-size: 1.5em;
    			color: #42c7f4;
			}
			.el-icon-delete:hover {
				cursor: pointer;
				color: #84e0ff;
			}
			.el-icon-delete {
				margin-left: 1em;
			}
			a {
				text-decoration: none;
			}
		}

		.post-comments {
			margin-top: 1em;
			border-top: 1px solid rgba(0,0,0,.0785)!important;
		}

		.comment-textarea {

			.text-input{
				margin-bottom: 1em;
			}
		}

		.root-comments {

		}
	}
}