.blog {
	margin: 1em 0 1em 0;
	a {
		text-decoration: none;
	}
	
	.blog-abs {
		margin: 0 0 1em 0;
		padding-bottom: 1em;
		border-bottom: 1px solid rgba(0,0,0,.0785)!important;

		.blog-title {
			margin: 0.5em 0 0.5em 0;
			font-family: Helvetica;

			a:link, a:visited {
				color: black;
			}
			a:hover {
				color: #48576a;
			}
		}

		.blog-author {
			margin:0;
			font-size: 12px;
		}

		.blog-abstract {
			p {
				font-size: 16px;
			}
			// similar to github
			code {
				padding: 0.2em 0.2em 0.2em 0.2em;
				margin: 0;
				font-size: 85%;
				font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
			}
			p>code {
				background-color: rgba(27,31,35,0.05);
				color: #ff4747;
			}
			pre {
				padding: 1em;
				background-color: rgba(27,31,35,0.05);
			}
		}

		.readmore {	
			a:link, a:visited {
				color: #a2a4a5;
			}
			a:hover {
				color: #8b8d8e;
			}
			font-size: 14px;
		}

		.blog-tags {
			margin-top: 1em;
			a:link, a:visited {
				color: white;
			}
			a:hover {
				color: white;
			}
		}
	}

	.search-bar {
		margin-bottom: 1em;

		p {
			font-size: 1.3em;
			font-weight: bold;
			margin-bottom: 0.5em;
		}
	}

	.all-tags {
		.tag {
			margin: 0.5em 2em 0.5em 0em;
			a:link, a:visited {
				color: white;
			}
			a:hover {
				color: white;
			}
		}

		p {
			font-size: 1.3em;
			font-weight: bold;
			margin-bottom: 0.5em;
		}
	}

	.top-posts {
		margin-top: 1em;
		.top-title {
			font-size: 1.3em;
			font-weight: bold;
			margin-bottom: 0.5em;
		}
		p.top-posts-p {
			font-size: 1.2em;
			margin-top: 0.5em;
			margin-bottom: 0.5em;

			a:link, a:visited {
				color: #002766;
			}
			a:hover {
				color: #0047ba;
			}

			.top-posts-clicks {
				margin-top: 0.6em;
				font-size: 0.6em;
				color: #a2a4a5;
				float: right;

			}
		}
	}
}

.one-post-outer {

	.one-post {
		.one-post-title {
			margin: 1em 0 0.5em 0;
			font-family: Helvetica;
		}

		.one-post-author, .one-post-time {
			margin:0;
			margin-bottom: 2em;
			font-size: 14px;
		}

		.one-post-content {
			p {
				font-size: 20px;
			}
			// similar to github
			code {
				padding: 0.2em 0.2em 0.2em 0.2em;
				margin: 0;
				font-size: 85%;
				font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
			}
			p>code {
				background-color: rgba(27,31,35,0.05);
				color: #ff4747;
			}
			pre {
				padding: 1em;
				background-color: rgba(27,31,35,0.05);
			}
		}

		.post-tag {
			margin: 2em 0 2em 0;

			.el-tag {
				padding: 0 1em 0 1em;
				font-size: 16px;
			}

			a {
				text-decoration: none;
			}
			a:link, a:visited {
				color: white;
			}
			a:hover {
				color: white;
			}
		}

		.post-icons {
			.el-icon-star-on, .el-icon-star-off, .el-icon-share {
    			font-size: 1.5em;
    			color: #42c7f4;
			}
			.el-icon-star-on:hover, .el-icon-star-off:hover, .el-icon-share:hover {
				color: #84e0ff;
				cursor: pointer;
			}
			.icon-number {
				color: #888f91;
				margin-left: 0.2em;
				font-size: 1.2em;
			}
		}

		.post-comments {
			margin-top: 1em;
			border-top: 1px solid rgba(0,0,0,.0785)!important;
		}

		.comment-textarea {

			.text-input{
				margin-bottom: 1em;
			}
		}

		.root-comments {

		}
	}
}