.comment-item {
	.comment-by {
		.created-at {
			font-size: 0.5em;
		}
	}

	.text {

	}

	.like-and-dislike {
		margin: 0.2em 0 0.2em 0;
		.icon {
			height: 1.2em;
			width: 1.2em;
			margin-right: 0.5em;
			cursor: pointer;
		}

		.like {
			color: #0c5ad6;
		}

		.dislike {
			color: #ba110b;
		}

		span {
			font-size: 1.2em;
			margin-right: 1em;
		}
	}

	.reply {
		margin-bottom: 0.5em;
		a {
			cursor: pointer;
			color: #8f9193;
		}

		a:hover {
			color: #5f6163;
		}
	}

	.reply-box {
		padding: 0.2em 0 0.5em 0;
		.text-input{
			margin-bottom: 0.6em;
		}
	}

	.toggle {
		margin-bottom: 1em;

		a {
			cursor: pointer;
		}

		.open {
			padding: 0;
			background-color: transparent;
		}
	}
}