.nav-bar {
  .login, .signup{
    float: right;
  }

  .signup {
    margin-right: 20px;
  }

  .login {
    .el-dropdown-link {
      color: #bfcbd9;
    }
  }

  a.link {
    text-decoration: none;
  }

  .el-menu {
  	border-radius: 0;
  }
}

body {
	margin: 0;
}